<div class="container mt-5">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-row align-items-center">
      <h1 class="mb-3">Articles</h1>
      <p id="add"><%= link_to "Add +", new_article_path, {:style=>'padding: 0; margin-left: 20px; text-decoration: none; font-weight: 500;'} %></p>
    </div>
    <ul class="list-group mb-5 w-75">
      <% @articles.each do |article| %>
        <li class="list-group-item p-4 pb-3">
          <h3><%= link_to article[:title], article_path(article), {:style=>'text-decoration: none;'} %></h2>
          <p><%= article[:content] %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
