<div class="container mt-5">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Add a new article</h1>
    <div class="w-50">
      <%= render "form", article: @article%>
    </div>
  </div>
</div>
